In [39]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

# Задаём параметры подключения к БД
db_config = {'user': 'praktikum_student',         # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # порт подключения
             'db': 'data-analyst-zen-project-db'}          # название базы данных

# Формируем строку соединения с БД
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                        db_config['pwd'],
                                                        db_config['host'],
                                                        db_config['port'],
                                                        db_config['db'])

# Подключаемся к БД
engine = create_engine(connection_string)

# Формируем sql-запрос.
query = '''SELECT * 
            FROM dash_visits
        '''

# Выполняем запрос и сохраняем результат выполнения в DataFrame
data_raw = pd.io.sql.read_sql(query, con = engine, index_col = 'record_id')

print(data_raw.head(5))

          item_topic source_topic age_segment                  dt  visits
record_id
1040597       Деньги         Авто       18-25 2019-09-24 18:32:00       3
1040598       Деньги         Авто       18-25 2019-09-24 18:35:00       1
1040599       Деньги         Авто       18-25 2019-09-24 18:54:00       4
1040600       Деньги         Авто       18-25 2019-09-24 18:55:00      17
1040601       Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [40]:
# Выгружаем в CSV файл для Tableau
data_raw.to_csv('dash_visits.csv', encoding='cp1251', sep=',')

In [41]:
data_raw['dt'].describe()

count                   30745
unique                     17
top       2019-09-24 18:58:00
freq                     3383
first     2019-09-24 18:28:00
last      2019-09-24 19:00:00
Name: dt, dtype: object

In [38]:
# Формируем sql-запрос.
query = '''SELECT * 
            FROM log_raw
        '''

# Выполняем запрос и сохраняем результат выполнения в DataFrame
data_raw = pd.io.sql.read_sql(query, con = engine)

print(data_raw.head(5))

   event_id age_segment  event  item_id   item_topic item_type  source_id  \
0   2931262       18-25   show  1793260      Красота    native    8388799
1   2931277       18-25   show  7465641     Культура    native    5837959
2   2931285       18-25   show   406073      История       url    2335872
3   2931247       26-30   show   752665  Путешествия    native    6963489
4   2931278       26-30  click  6843081         Юмор       url    5427748

         source_topic source_type             ts  user_id
0             История   publisher  1569349657638  2185026
1             История   publisher  1569349657971  6845238
2          Сад и дача      domain  1569349658408  5244363
3            Здоровье   publisher  1569349657189  7553074
4  Семейные отношения      domain  1569349658054  1317585